#ltu {
    position: relative;
    margin: 5px;
}
#ltu img {
    width: 80px;
    cursor: pointer;
    display: block;
    border-radius: 6px;
}
#ltu > div {
    background-color: white;
    color: #0033A0;
    text-align: center;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1300;
    white-space: nowrap;
}
#ltu:hover > div {
    visibility: revert;
}
#ltu a {
    text-decoration: none;
    color: #D64309;
    font-weight: bold;
}