body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
  sans-serif;
  margin: auto;
  background-color: lightgray;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px;
  border-style: solid;
  width: 95%;
  height: 95vh;
}
    
.div1 {
  grid-column: span 3 / span 3;
  border-color: black;
  border-radius: 2;
  border-style: solid;
}

.div2 {
  grid-column: span 3 / span 3;
  grid-row: span 4 / span 4;
  grid-column-start: 1;
  grid-row-start: 2;
  border-color: black;
  border-style: solid;
}

.div3 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 1;
  border-color: black;
  border-style: solid;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 3;
  border-color: black;
  border-style: solid;
}
